@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;600;700;900&family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Merriweather for Titles */
.font-title {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Poppins for Paragraphs */
.font-para {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
